.affiliate-link-container {
    margin: 1.2rem auto;
    width: 80%;
    border: 1px solid $dark;
    @include border-radius();

    .img-container {
        margin-left: 1.2rem;
        align-self: center;
        flex: 0 1 30%;

        .affiliate-img {
            margin-bottom: 0;
        }
    }
    .product-info {
        padding: 1.2rem;

        .product-title {
            text-transform: title;
        }
    }
    .meta-cta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .affiliate-company {
            font-style: italic;
            font-weight: bold;

            small {
                font-style: normal;
                font-weight: normal;
            }
        }
        .affiliate-button {
            text-align: center;
        }
    }
}