.site {
  padding-top: $content-top-padding;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}

body {
  &.home {
    .site {
      padding-top: 2rem;
    }
  }
}

.site-content {
  img,
  .wp-block-embed {
    box-shadow: 3px 3px 10px rgba(0,0,0,.18);
    @include border-radius();
  }
}

.entry-content {
  figure {
    margin-bottom: 2rem;
  }
  .mashsb-container {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $secondary;
  }
}

.wp-block-image {
  &.no-shadow {
    img {
      box-shadow: none;
    }
  }
}

article {
  margin-bottom: 2rem;

  img {
    margin-bottom: 1rem;
  }
  .article-meta {
    margin-bottom: 1.5rem;
    padding: .25rem;
    padding-left: .75rem;
    background: $light;
    background: linear-gradient(90deg, $light 70%, $bg-light 100%);
    @include border-radius();

    p {
      margin-bottom: 0;
      font-style: italic;
    }
  }
}

img {
  &.rounded-circle {
    border-radius: 50%;
  }
}
