a {
  &.button {
    @include border-radius();
  }
  &.btn-primary {
    background: $primary;
  }
  &.btn-secondary {
    background: $secondary;
  }
}

.wp-block-search__button {
  background: $primary;
  @include border-radius();
}