.site-header {
  width: 100%;
  position: absolute;
  top: p;
  z-index: 2;
  background: transparent;

  .is-logo-image {
    max-width: 200px;
    height: auto;
  }
}

.main-navigation {
  background: transparent;
}

.hero {
  padding: 130px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-blend-mode: overlay;

  .container {
    margin: 0 auto;
    max-width: 1170px;
  }
  .hero-title,
  .hero-subtitle {
    color: $primary;
  }
}