body {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 1.3rem;
  color: $dark;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: .6em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  line-height: 1em;
  color: $secondary;
  // text-shadow: 1px 1px $secondary;
}
h1 {
  padding-bottom: .3rem;
  font-size: 2.5rem;
  color: $primary-contrast;
  text-shadow: none;
  text-transform: uppercase;
}
h2 {
  font-size: 2.2rem;
  color: $primary-contrast;

  &:not(.woocommerce-loop-category__title) {
    text-transform: uppercase;
  }
}
h3 {
  font-size: 2rem;
  color: $primary-contrast;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
  color: $light;
}
.secondary-column {
  color: $secondary;
  
  h1 {
    font-size: 2.2rem;
    color: $secondary;
    text-shadow: none;
  }
  h2 {
    font-size: 1.9rem;
    color: $secondary;
    text-shadow: none;
  }
  h3 {
    font-size: 1.4rem;
    color: $secondary;
    text-shadow: none;
  }
  h4 {
    font-size: 1.2rem;
    color: $secondary;
    text-shadow: none;
  }
  h5 {
    font-size: 1rem;
    color: $secondary;
    text-shadow: none;
  }
  h6 {
    font-size: 1rem;
    color: $secondary;
    text-shadow: none;
  }
}

p {
  margin-bottom: 1rem;
}

a {
  &:not(.button) {
    color: $primary-contrast;
    @include transition();

    &:hover {
      color: darken($primary-contrast, 20%);
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.entry-content {
  ul, ol {
    margin: 0;

    li {
      list-style-type: none;
    }
  }
}
.widget-container {
  ul, ol {
    margin: 0;

    li {
      list-style-type: none;
    }
  }
}
.comment-body {
  ul, ol {
    margin: 0;

    li {
      list-style-type: none;
    }
  }
}
