/*======================================
    VARIABLES
=======================================*/
// $primary: rgba(165,34,38,1);
$primary-contrast: rgba(190, 61, 65, 1);
// $secondary: rgba(57,64,85,1);
// $dark: rgba(33,33,33,1);
// $dark-30: lighten($dark, 70%);
// $light: lighten($secondary, 50%);


$primary: rgba(165,34,38,1);
$secondary: rgba(57,64,85,1);
$dark: rgba(62,62,61,1);
$dark-30: lighten($dark, 70%);
$light: lighten($secondary, 50%);

$content-top-padding: 100px;
